<p>
    1. Click on button [Get Image] to select random image from the collection.<br />
    2. Once image is loaded, click on Like/Dislike icon according to your preference.<br />
</p>

<div class="row col-md-9">
    <div class="margin-5 main-image">
        <img ng-src="{{imageUrl}}" class="image" />

        <img class="inlay" ng-src="{{like}}" ng-show="imageSelected" ng-click="savePreference(true)" />
        <img class="inlay right" ng-src="{{dislike}}" ng-show="imageSelected" ng-click="savePreference(false)" />
    </div>
</div>
<div class="row col-md-9"><input type="button" class="btn btn-primary" value="Get Image" ng-click="getImage()" /></div>

